<article class="photo" data-id="{{p.id}}">
  <header ng-mouseover="action2()">
    <img src="http://www.fillmurray.com/50/50" alt="" />

    <div class="">
      <a href="#/photos/{{p.id}}">{{p.title}}</a>
    </div>
    <a href="#">{{p.dt}}</a>
  </header>
  <div class="pContain">
      <img ng-src="{{p.image}}" alt="" />
      <img ng-src="{{url}}" alt="" />
      <div class="like">
        <span ng-click="action()">&#9825;</span>
      </div>
  </div>
  <div class="extraStuff" ng-transclude>

  </div>
</article>
