section, aside {
  background-color: black;
  display: inline-block;
  vertical-align: top; }

section {
  width: 65%; }

aside {
  width: 30%; }

.edit-movie {
  display: none; }

.active {
  display: block; }

